.header {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top {
  display: flex;
  width: 100%;
  height: 60px;
  /* background-color: #fff; */
  /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); */
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-right: 5px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}

#hidden_navbar {
  display: flex;
}

.bread-button {
  display: none;
  cursor: pointer;
}

.header-top__seperator {
  width: 100%;
  border: none;
  height: 2px;
  margin-top: 2px;
  background-color: black;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  object-fit: cover;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Nav bar */
.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;

  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}
.navbar-hover:hover{
  color: #2ecc72; 
}

.profile-icon{
  font-size: 1.6rem;
  color: black;
}



@media screen and (max-width: 768px) {
  .header-top__navigation {
    display: none;
  }
  .bread-button {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    margin-right: 25px;
    font-size: 2rem;
  }

  #hidden_navbar {
    margin-right: 35px;
    
  }
  #increase_height{
    margin-top: 10px;
    
  }
  .navbar-item{
    margin-left: 15px;
    font-size: 13px;
  }
  .profile-active-class{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hidden-text{
    display: none;
  }
}