.passreset-container{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.passreset-card{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);

}

.passreset-form{
  padding: 10px 0;
  width: 380px;
}

.showpass-icon{
  position: absolute;
  top: 36%;
  right: 10%;
  cursor: pointer;
}

.showconfirmpass-icon{
  position: absolute;
  cursor: pointer;
  right: 10%;
  top:65%;
}

.showpass-icon{
  position: absolute;
  top: 36%;
  right: 10%;
  cursor: pointer;
}

.showconfirmpass-icon{
  position: absolute;
  cursor: pointer;
  right: 10%;
  top:65%;
}


@media only screen and (max-width: 421px) {
  .passreset-form{
    width: 280px;
  }
}