* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

body{
  background-color: #F1F1F1;
}

/* NOTE Register,LogIn Form fields and show pass */

.form-field{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 15px;
  margin-top: 30px;
}

.form-field input{
  border: none;
  background-color: #eee;
  padding: 10px 20px;
  border-bottom: 3px solid transparent;
  outline-width: 0;
  margin-top: 10px;
  font-size: 1rem;
  width: 100%;
  
} 

.form-field input:hover {
  border-bottom: 3px solid coral;
}

.btn{
  width: 95%;
  margin-top: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}

.btn:hover{
  opacity: 0.8;
  
}

.btn-primary {
  background-color: coral;
  color: #fff;
}

/* Check Box */

.check{
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  
  margin-left: 16px;
}

#check-box{
  height: 16px;
  width: 16px;
  background-color: #eee;
  cursor: pointer;
}

input{
  user-select: none;
}

#show-pass{
  cursor: pointer;
  margin-left: 6px;
  user-select: none;
}

.error-message{
  display: flex;
  flex: 1;
  background-color: red;
  color: white;
  padding: 6px;
  justify-content: center;

}

.success-message{
  display: flex;
  flex: 1;
  background-color: #42ba96;
  justify-content: center;
  color: white;

  padding: 6px;

}

/* Loading screen */


.lds-ellipsis {
  position: absolute;
  top: 35%;
  left: 48%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@media screen and (max-width: 640px) {
  .lds-ellipsis {
   
    left: 43%;
  }
}